<form [formGroup]="productBatchForm" class="form">
    <h2 mat-dialog-title>Editing Batch</h2>
    <mat-dialog-content>
      <mat-form-field>
        <mat-label>Manufacture date (Required)</mat-label>
        <input formControlName="mnuDate" matInput [matDatepicker]="mnuDatePicker" placeholder="Choose a date" required>
        <mat-datepicker-toggle matSuffix [for]="mnuDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #mnuDatePicker></mat-datepicker>
        <div matError *ngIf="productBatchForm.get('mnuDate')?.invalid && productBatchForm.get('mnuDate')?.touched"
          class="text-danger">
          Manufacture date is required.
        </div>
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Expire date</mat-label>
        <input formControlName="expDate" matInput [matDatepicker]="expDatePicker" placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="expDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #expDatePicker></mat-datepicker>
        <div matError *ngIf="productBatchForm.get('expDate')?.invalid && productBatchForm.get('expDate')?.touched"
          class="text-danger">
          Expire date is required.
        </div>
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Purchase Price (Required)</mat-label>
        <input matInput type="number" placeholder="Purchase Price" formControlName="purchasePrice">
        <mat-error *ngIf="productBatchForm.get('purchasePrice')?.invalid && productBatchForm.get('purchasePrice')?.touched">
          Purchase price is required.
        </mat-error>
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Selling Price (Required)</mat-label>
        <input matInput type="number" placeholder="Selling Price" formControlName="sellingPrice">
        <mat-error *ngIf="productBatchForm.get('sellingPrice')?.invalid && productBatchForm.get('sellingPrice')?.touched">
          Selling price is required.
        </mat-error>
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Quantity (Required)</mat-label>
        <input matInput type="number" placeholder="Quantity" formControlName="quantity">
        <mat-error *ngIf="productBatchForm.get('quantity')?.invalid && productBatchForm.get('quantity')?.touched">
          Quantity is required.
        </mat-error>
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Note</mat-label>
        <textarea matInput formControlName="note"></textarea>
      </mat-form-field>
    </mat-dialog-content>
  
    <mat-dialog-actions class="col text-end">
      <button mat-button type="button" (click)="cancel()">Cancel</button>
      <button mat-button (click)="updateProductBatch()" [disabled]="productBatchForm.invalid">Save</button>
    </mat-dialog-actions>
  </form>
  