<div class="container m-2">
  <form [formGroup]="productForm">
    <div class="row m-3">
      <div class="col">
        <h1>Creating a product</h1>
      </div>
      <div class="col text-end">
        <button class="mr-2" mat-raised-button [disabled]="productForm.invalid" type="button" (click)="createProduct()">
          <mat-icon>check</mat-icon>Save
        </button>
        <button mat-button type="button" (click)="cancel()">Cancel</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <mat-card>
          <mat-card-header>
            <mat-card-title class="mb-4">Product Information</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <mat-divider class="mb-2"></mat-divider>
            <div class="row">
              <div class="col">
                <mat-form-field>
                  <mat-label>Product name</mat-label>
                  <input matInput placeholder="Product Name" formControlName="productName">
                  <mat-error *ngIf="productForm.get('productName')?.invalid && productForm.get('productName')?.touched">
                    Product name is required.
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col">
                <div class="col text-end">
                  <button color="primary" mat-button type="button" (click)="openCategoryCreateForm()">Create a category
                  </button>
                </div>
                <mat-form-field>
                  <mat-label>Category</mat-label>
                  <mat-select formControlName="category" placeholder="Categoy" #singleSelect>
                    <mat-option>
                      <ngx-mat-select-search [formControl]="categoryFilterCtrl"
                        noEntriesFoundLabel="No matching category found."
                        placeholderLabel="Type and search"></ngx-mat-select-search>
                    </mat-option>

                    <mat-option *ngFor="let category of filteredCategories | async" [value]="category">
                      {{category.name}}
                    </mat-option>
                  </mat-select>

                </mat-form-field>
              </div>
              <div class="col">
                <div class="col text-end">
                  <button color="primary" mat-button type="button" (click)="openBrandCreateForm()">Create a brand
                  </button>
                </div>
                <mat-form-field>
                  <mat-label>Brand</mat-label>
                  <mat-select formControlName="brand" placeholder="Brand" #singleSelect>
                    <mat-option>
                      <ngx-mat-select-search [formControl]="brandFilterCtrl"
                        noEntriesFoundLabel="No matching brand found."
                        placeholderLabel="Type and search"></ngx-mat-select-search>
                    </mat-option>

                    <mat-option *ngFor="let brand of filteredBrands | async" [value]="brand">
                      {{brand.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field>
                  <mat-label>Details</mat-label>
                  <textarea matInput placeholder="Description" formControlName="description"></textarea>
                  <mat-error *ngIf="productForm.get('description')?.invalid && productForm.get('description')?.touched">
                    Description is required.
                  </mat-error>
                </mat-form-field>
              </div>
              <!-- <div class="col">
                <mat-form-field>
                  <mat-label>Selling Price</mat-label>
                  <input matInput type="number" placeholder="Selling Price" formControlName="sellingPrice">
                  <mat-error
                    *ngIf="productForm.get('sellingPrice')?.invalid && productForm.get('sellingPrice')?.touched">
                    Selling Price is required.
                  </mat-error>
                </mat-form-field>
              </div> -->
              <mat-divider></mat-divider>
            </div>

          </mat-card-content>
          <mat-card-footer>
            <!-- <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar> -->
          </mat-card-footer>
        </mat-card>
      </div>

      <div class="col">
        <div class="row">
          <mat-card>
            <mat-card-header>
              <mat-card-title class="mb-4">Images</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <mat-divider class="mb-2"></mat-divider>
              <div class="m-3">
                <div class="m-2 mb-4">
                  <input type="file" #fileInput (change)="onFileSelected($event)" multiple accept="image/*">
                </div>

                <div class="file-preview-container">
                  <div *ngFor="let preview of filePreviews; let i = index" class="file-preview">
                    <img [src]="preview" class="file-preview-thumbnail" (click)="showImagePreview(preview)">
                    <button mat-icon-button (click)="removeImage(i)">
                      <mat-icon>cancel</mat-icon>
                    </button>
                  </div>
                </div>
              </div>

              <ng-template #imageDialog let-data>
                <img [src]="data" class="full-size-image">
              </ng-template>
            </mat-card-content>
            <mat-card-footer>
              <!-- <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar> -->
            </mat-card-footer>
          </mat-card>
        </div>
        <div class="row mt-2">
          <mat-card>
            <mat-card-header>
              <mat-card-title class="mb-4">Batches</mat-card-title>
              <div class="col text-end">
                <button style="color:blue;" mat-button (click)="openProductBatchCreateDialog()">Add a batch</button>
              </div>
            </mat-card-header>
            <mat-card-content>
              <mat-divider class="mb-2"></mat-divider>
              <div class="row m-1" *ngIf="batchesDataSource.length > 0; else noDataMessage">
                <table mat-table [dataSource]="batchesDataSource" class="mat-elevation-z2">

                  <ng-container matColumnDef="mnuDate">
                    <th mat-header-cell *matHeaderCellDef>Manufacture Date</th>
                    <td mat-cell *matCellDef="let batch">{{ batch.mnuDate | date: 'dd/MMM/yyyy' }}</td>
                  </ng-container>


                  <ng-container matColumnDef="expDate">
                    <th mat-header-cell *matHeaderCellDef>Expire Date</th>
                    <td mat-cell *matCellDef="let batch">{{ batch.expDate | date: 'dd/MMM/yyyy'}}</td>
                  </ng-container>

                  <ng-container matColumnDef="quantity">
                    <th mat-header-cell *matHeaderCellDef>Quantity</th>
                    <td mat-cell *matCellDef="let batch">{{ batch.quantity }}</td>
                  </ng-container>

                  <ng-container matColumnDef="note">
                    <th mat-header-cell *matHeaderCellDef>Note</th>
                    <td mat-cell *matCellDef="let batch">{{ batch.note }}</td>
                  </ng-container>



                  <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>Actions</th>
                    <td mat-cell *matCellDef="let batch; let i = index">

                      <button mat-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
                      <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="removeBatchTableItem(i)">Remove</button>
                      </mat-menu>
                    </td>
                  </ng-container>

                  <!-- Render the columns -->
                  <tr mat-header-row *matHeaderRowDef="batchListDisplayColumns"></tr>
                  <tr mat-row class="mat-row" *matRowDef="let row; columns: batchListDisplayColumns;"></tr>
                </table>
              </div>

              <ng-template #noDataMessage>
                <div class="col text-center">
                  <h2>No data available!</h2>
                </div>
              </ng-template>

            </mat-card-content>
            <mat-card-footer>
              <!-- <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar> -->
            </mat-card-footer>
          </mat-card>
        </div>
      </div>
    </div>
  </form>
</div>