<div class="container m-1">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <mat-card>
        <mat-card-header class="mb-3">
          <mat-card-title>Editing Purchase</mat-card-title>
          <div class="col text-end">
            <button mat-raised-button class="cus-action-button" type="submit" style="margin-right:1em"
              [disabled]="purchaseEditForm.invalid || purchaseDetails.length ==0">
              <mat-icon class="mr-2">done</mat-icon>Save
            </button>
            <button mat-raised-button>
              <mat-icon class="mr-2">close</mat-icon>Cancel
            </button>
          </div>
        </mat-card-header>
        <mat-card-content>
          <mat-card>
            <form [formGroup]="purchaseEditForm" (ngSubmit)="onSubmit()" class="m-2">
              <div class="row">
                <div class="col text-start">
                  <label>Order Number : <span style="font-size:0.9em;color:blueviolet;">{{orderNumber}}</span></label>
                </div>
              </div>

              <div class="row mt-3 mb-3">
                <mat-form-field class="col">
                  <mat-label>Purchase Date</mat-label>
                  <input matInput [matDatepicker]="purchaseDate" placeholder="Purchase Date" readonly
                    formControlName="purchaseDate" required>
                  <mat-datepicker-toggle matSuffix [for]="purchaseDate"></mat-datepicker-toggle>
                  <mat-datepicker #purchaseDate></mat-datepicker>
                  <mat-error
                    *ngIf="purchaseEditForm.get('purchaseDate')?.invalid && purchaseEditForm.get('purchaseDate')?.touched">
                    Purchase date is required.
                  </mat-error>

                </mat-form-field>
                <mat-form-field class="col">
                  <mat-label>Purchase Currency</mat-label>
                  <mat-select formControlName="currency">
                    <mat-option *ngFor="let currency of currencies" [value]="currency">{{ currency.name }}</mat-option>
                  </mat-select>
                  <mat-error
                    *ngIf="purchaseEditForm.get('currency')?.invalid && purchaseEditForm.get('currency')?.touched">
                    Currency is required.
                  </mat-error>
                </mat-form-field>

                <mat-form-field class="col">
                  <mat-label>Exchange Rate</mat-label>
                  <input matInput type="number" placeholder="Exchange Rate" formControlName="exchangeRate">
                  <mat-error
                    *ngIf="purchaseEditForm.get('exchangeRate')?.invalid && purchaseEditForm.get('exchangeRate')?.touched">
                    Exchange rate is required.
                  </mat-error>
                </mat-form-field>

                <mat-form-field class="col">
                  <mat-label>Extra Cost</mat-label>
                  <input matInput type="number" placeholder="Extra Cost" formControlName="extraCost">

                </mat-form-field>

              </div>
              <div class="row mb-4">
                <mat-form-field class="col">
                  <mat-label>Note</mat-label>
                  <input matInput type="text" placeholder="" formControlName="note">

                </mat-form-field>
              </div>

              <mat-divider class="mb-2"></mat-divider>
              <div class="row">
                <div class="col-md-3 text-start">
                  <h2>Item List</h2>
                </div>
                <div class="col text-end">
                  <button mat-raised-button class="cus-action-button mb-3" type="button"
                    (click)="openPurchaseDetailDialog()">
                    <mat-icon class="mr-1">add</mat-icon>Item
                  </button>
                </div>
              </div>

              <mat-divider class="mb-2"></mat-divider>
              <div class="row m-2">
                <table mat-table [dataSource]="purchaseDetails" class="mat-elevation-z2">

                  <ng-container matColumnDef="image">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let purchaseDetail">
                      <div class="image-container">
                        <img [src]="purchaseDetail.product.images[0]?.url" alt="Product Image">
                      </div>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="product">
                    <th mat-header-cell *matHeaderCellDef>Product</th>
                    <td mat-cell *matCellDef="let purchaseDetail">
                      {{ purchaseDetail.product.name }}
                    </td>
                  </ng-container>

                  <!-- Define the columns -->
                  <ng-container matColumnDef="quantity">
                    <th mat-header-cell *matHeaderCellDef>Qty</th>
                    <td mat-cell *matCellDef="let productDetail">{{ productDetail.quantity }}</td>
                  </ng-container>

                  <ng-container matColumnDef="purchasePrice">
                    <th mat-header-cell *matHeaderCellDef>Purchase Price</th>
                    <td mat-cell *matCellDef="let purchaseDetail">{{ purchaseDetail.purchasePrice }}</td>
                  </ng-container>

                  <!-- <ng-container matColumnDef="itemCost">
                    <th mat-header-cell *matHeaderCellDef>Item Cost</th>
                    <td mat-cell *matCellDef="let purchaseDetail">{{ purchaseDetail.itemCost }}</td>
                  </ng-container> -->

                  <ng-container matColumnDef="expDate">
                    <th mat-header-cell *matHeaderCellDef>Exp Date</th>
                    <td mat-cell *matCellDef="let purchaseDetail">{{ purchaseDetail.expDate | date:'dd/MM/yyyy' }}</td>
                  </ng-container>
                  <ng-container matColumnDef="mnuDate">
                    <th mat-header-cell *matHeaderCellDef>Mnu Date</th>
                    <td mat-cell *matCellDef="let purchaseDetail">{{ purchaseDetail.mnuDate | date:'dd/MM/yyyy' }}</td>
                  </ng-container>

                  <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef>Description</th>
                    <td mat-cell *matCellDef="let product">{{ product.description }}</td>
                  </ng-container>

                  <ng-container matColumnDef="delete">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let purchaseDetail; let i = index">
                      
                      <button mat-icon-button (click)="removePurchaseDetail(i)">
                        <mat-icon style="color:red;">delete</mat-icon>
                      </button>
                    </td>
                  </ng-container>

                  <!-- Render the columns -->
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

              </div>
            </form>
            <ng-template *ngIf="purchaseDetails?.length === 0">
              <div class="alert alert-info">No data available.</div>
            </ng-template>
            <mat-card-footer>
              <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
            </mat-card-footer>
          </mat-card>
        </mat-card-content>
        
      </mat-card>
    </div>


  </div>


</div>

<!--   <app-confirm-alert [item]="confirmationBrand" (confirm)="deleteConfirmedBrand()"
  [message]="'Are you sure to remove this brand?'" (close)="closeConfirmationModal()"></app-confirm-alert> -->