<div class="container m-1">
  <div class="row">
    <div class="col-md-12">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Products</mat-card-title>
          <div class="col text-end">
            <button mat-raised-button color="primary" class="mb-3" (click)="redirectToEdit()">
              <mat-icon class="mr-2">add</mat-icon>Add New
            </button>
          </div>
        </mat-card-header>
        <mat-card-content>
          
          <mat-divider class="mb-2"></mat-divider>
          <div class="mb-2 text-start mr-2" style="font-size:0.9em">Total results: 50</div>
          <div class="row">
            <div class="col">
              <mat-form-field style="width:100%">
                <mat-label>Search by name</mat-label>
                <mat-icon matPrefix>search</mat-icon>
                <input matInput placeholder="Product name" [(ngModel)]="productName" (keyup.enter)="searchProducts()">
              </mat-form-field>
            </div>

            <div class="col">
              <mat-form-field>
                <mat-label>Search by category</mat-label>
                <mat-icon matPrefix>search</mat-icon>
                <mat-select [(ngModel)]="categoryId" (selectionChange)="searchProducts()">
                  <mat-option *ngFor="let category of categories" [value]="category._id">
                    {{ category.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col">
              <mat-form-field>
                <mat-label>Search by brand</mat-label>
                <mat-icon matPrefix>search</mat-icon>
                <mat-select [(ngModel)]="brandId" (selectionChange)="searchProducts()">
                  <mat-option *ngFor="let brand of brands" [value]="brand._id">
                    {{ brand.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

          </div>
          <div class="row mb-3">
            <table mat-table [dataSource]="products$" class="mat-elevation-z8">

              <ng-container matColumnDef="image">
                <th mat-header-cell *matHeaderCellDef>Image</th>
                <td mat-cell *matCellDef="let product">
                  <div class="image-container">
                    <img [src]="product.imageUrl || 'path_to_placeholder_image'" alt="Product Image">
                  </div>
                </td>
              </ng-container>

              <!-- Define the columns -->
              <ng-container matColumnDef="productName">
                <th mat-header-cell *matHeaderCellDef>Product Name</th>
                <td mat-cell *matCellDef="let product">{{ product.name }}</td>
              </ng-container>


              <ng-container matColumnDef="category">
                <th mat-header-cell *matHeaderCellDef>Category</th>
                <td mat-cell *matCellDef="let product">{{ product.category?.name }}</td>
              </ng-container>

              <ng-container matColumnDef="brand">
                <th mat-header-cell *matHeaderCellDef>Brand</th>
                <td mat-cell *matCellDef="let product">{{ product.brand?.name }}</td>
              </ng-container>

              <ng-container matColumnDef="totalQuantity">
                <th mat-header-cell *matHeaderCellDef>In Stock</th>
                <td mat-cell *matCellDef="let product">{{ product.totalQuantity }}</td>
              </ng-container>
              

              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>Actions</th>
                <td mat-cell *matCellDef="let product">

                  <button mat-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="openEditDialogForm(product._id)">Edit</button>
                    <button mat-menu-item (click)="openDeleteConfirmationDialog(product)">Delete</button>
                  </mat-menu>
                </td>
              </ng-container>

              <!-- Render the columns -->
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row class= "mat-row" *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>

          <ng-template #noDataMessage>
            <div class="alert alert-info">No data available.</div>
          </ng-template>
        </mat-card-content>
        <div class="pagination d-flex justify-content-center align-items-center mt-3 mb-2">
          <button mat-raised-button color="primary" [disabled]="currentPage === 1" (click)="goToPage(currentPage - 1)">
            Previous
          </button>
          <span class="current-page mx-2">Page {{ currentPage }} of {{ totalPages }}</span>
          <button mat-raised-button color="primary" [disabled]="currentPage === totalPages"
            (click)="goToPage(currentPage + 1)">
            Next
          </button>
        </div>
        <mat-card-footer>
          <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
        </mat-card-footer>
      </mat-card>
    </div>


  </div>


</div>

<!--   <app-confirm-alert [item]="confirmationBrand" (confirm)="deleteConfirmedBrand()"
  [message]="'Are you sure to remove this brand?'" (close)="closeConfirmationModal()"></app-confirm-alert> -->