/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-form-field {
    width: 100%;
}

mat-dialog-actions {
    width: 100%;
}

th {
    color: rgb(48, 156, 6) !important;
    font-size: 1.1em !important;
}

.cus-action-button {
    background-color: #055160 !important;
    color: #e6eced !important;
}

/*Row hover effect for mat-table*/
.mat-row:hover {
    background-color: #e6ebf2 !important;
    /* Change this to the desired hover background color */
    cursor: pointer !important;
}