<div class="row">
    <div class="col">
      <h1 mat-dialog-title>Editing Product Info</h1>
    </div>
    <div class="col text-end">
      <button class="m-2" color="primary" mat-button type="button" (click)="cancel()">Close
      </button>
  
    </div>
  </div>
  <div mat-dialog-content>
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <mat-label>Product name</mat-label>
        <input matInput placeholder="Product Name" formControlName="name">
        <mat-error *ngIf="productForm.get('name')?.invalid && productForm.get('name')?.touched">
          Product name is required.
        </mat-error>
      </mat-form-field>
  
      <div class="row">
        <div class="col text-end">
          <button color="primary" mat-button type="button" (click)="openCategoryCreateForm()">Create a category
          </button>
        </div>
      </div>
  
      <div>
        <mat-form-field>
          <mat-label>Category</mat-label>
          <mat-select formControlName="category" placeholder="Categoy" #singleSelect>
            <mat-option>
              <ngx-mat-select-search [formControl]="categoryFilterCtrl" noEntriesFoundLabel="No matching category found."
                placeholderLabel="Type and search"></ngx-mat-select-search>
            </mat-option>
  
            <mat-option *ngFor="let category of filteredCategories | async" [value]="category">
              {{category.name}}
            </mat-option>
          </mat-select>
  
        </mat-form-field>
      </div>
  
      <div class="row">
        <div class="col text-end">
          <button color="primary" mat-button type="button" (click)="openBrandCreateForm()">Create a brand
          </button>
        </div>
      </div>
  
      <div>
        <mat-form-field>
          <mat-label>Brand</mat-label>
          <mat-select formControlName="brand" placeholder="Brand" #singleSelect>
            <mat-option>
              <ngx-mat-select-search [formControl]="brandFilterCtrl" noEntriesFoundLabel="No matching brand found."
                placeholderLabel="Type and search"></ngx-mat-select-search>
            </mat-option>
  
            <mat-option *ngFor="let brand of filteredBrands | async" [value]="brand">
              {{brand.name}}
            </mat-option>
          </mat-select>
  
        </mat-form-field>
      </div>
  
  
      <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea matInput placeholder="Description" formControlName="description"></textarea>
        <mat-error *ngIf="productForm.get('description')?.invalid && productForm.get('description')?.touched">
          Description is required.
        </mat-error>
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Selling Price</mat-label>
        <input matInput type="number" placeholder="Selling Price" formControlName="sellingPrice">
        <mat-error *ngIf="productForm.get('sellingPrice')?.invalid && productForm.get('sellingPrice')?.touched">
          Selling Price is required.
        </mat-error>
      </mat-form-field>
  
      <mat-divider></mat-divider>
  
      <div class="row mt-2">
        <h1>Images</h1>
      </div>
  
      <div class="m-3">
        <div class="m-2 mb-4">
          <input type="file" #fileInput (change)="onFileSelected($event)" multiple accept="image/*">
        </div>
  
        <div class="file-preview-container">
          <div *ngFor="let url of productImageUrls; let i = index" class="file-preview">
            <img [src]="url" class="file-preview-thumbnail" (click)="showImagePreview(url)">
            <button mat-icon-button (click)="removeImage(i)">
              <mat-icon>cancel</mat-icon>
            </button>
          </div>
        </div>
      </div>
  
      <ng-template #imageDialog let-data>
        <img [src]="data" class="full-size-image">
      </ng-template>
  
      <mat-dialog-actions align="end">
        <button mat-button type="button" (click)="cancel()">Cancel</button>
        <button mat-button type="submit" [disabled]="productForm.invalid || (!productForm.dirty && !filesTouched) || isUpdateProcessRunning">Save Changes</button>
      </mat-dialog-actions>
    </form>
  </div>