.file-preview-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.file-preview-thumbnail {
    width: 150px;
    height: 150px;
    cursor: pointer;
}

.full-size-image {
    max-width: 100%;
    max-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.image-container {
    width: 150px;
    height: 150px;
    display: block;
    margin: 1em;
}

.image-container img {
    width: 100%;
    height: auto;
    object-fit:cover;
   object-position:50% 50%;
}