<div class="container m-1">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Purchasing Records</mat-card-title>
          <div class="col text-end">
            <button mat-raised-button class="cus-action-button" class="mb-3" (click)="navigateToPurchaseCreate()">
              <mat-icon class="mr-2">add</mat-icon>Add New
            </button>
          </div>
        </mat-card-header>
        <mat-card-content>
          <mat-divider class="mb-2"></mat-divider>
          <div class="row">
            

          </div>
          <div class="row mb-3">
            <table mat-table [dataSource]="purchases" class="mat-elevation-z2">

              <!-- Define the columns -->

              <ng-container matColumnDef="orderNumber">
                <th mat-header-cell *matHeaderCellDef>Order No.</th>
                <td mat-cell *matCellDef="let purchase">{{ purchase.orderNumber }}</td>
              </ng-container>

              <ng-container matColumnDef="purchaseDate">
                <th mat-header-cell *matHeaderCellDef>Purchase Date</th>
                <td mat-cell *matCellDef="let purchase">{{ purchase.purchaseDate | date:'dd/MM/yyyy' }}</td>
              </ng-container>

              <ng-container matColumnDef="currency">
                <th mat-header-cell *matHeaderCellDef>Currency</th>
                <td mat-cell *matCellDef="let purchase">{{ purchase.currency.name }}</td>
              </ng-container>

              <ng-container matColumnDef="exchangeRate">
                <th mat-header-cell *matHeaderCellDef>Exchange Rate</th>
                <td mat-cell *matCellDef="let purchase">{{ purchase.exchangeRate }}</td>
              </ng-container>

              <ng-container matColumnDef="extraCost">
                <th mat-header-cell *matHeaderCellDef>Extra Cost</th>
                <td mat-cell *matCellDef="let purchase">{{ purchase.extraCost ?? 0 }}</td>
              </ng-container>

              <ng-container matColumnDef="note">
                <th mat-header-cell *matHeaderCellDef>Notes</th>
                <td mat-cell *matCellDef="let purchase">{{ purchase.note }}</td>
              </ng-container>

              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>Actions</th>
                <td mat-cell *matCellDef="let product">

                  <button mat-button (click)="stopPropagation($event);" [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
                  <mat-menu #menu="matMenu" >
                    <button mat-menu-item>View Details</button>
                    <button mat-menu-item (click)="openDeleteConfirmationDialog(product)">Delete</button>
                  </mat-menu>
                </td>
              </ng-container>

              <!-- Render the columns -->
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row class="mat-row" *matRowDef="let row; columns: displayedColumns;" (click)="goToDetailPage(row.purchaseId)"></tr>
            </table>
          </div>

          <ng-template #noDataMessage>
            <div class="alert alert-info">No data available.</div>
          </ng-template>
        </mat-card-content>
        <div class="pagination d-flex justify-content-center align-items-center mt-3 mb-2">
          <button mat-raised-button color="primary" [disabled]="currentPage === 1" (click)="goToPage(currentPage - 1)">
            Previous
          </button>
          <span class="current-page mx-2">Page {{ currentPage }} of {{ totalPages }}</span>
          <button mat-raised-button color="primary" [disabled]="currentPage === totalPages"
            (click)="goToPage(currentPage + 1)">
            Next
          </button>
        </div>
      </mat-card>
    </div>


  </div>


</div>

<!--   <app-confirm-alert [item]="confirmationBrand" (confirm)="deleteConfirmedBrand()"
  [message]="'Are you sure to remove this brand?'" (close)="closeConfirmationModal()"></app-confirm-alert> -->